.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
/*公共类*/
html,body{
    height:100%;
    overflow:hidden;
}
#transferTable {
    width: 860px;
}

.layui-left, .layui-right, .layui-center {
    height: 500px;
}

.layui-left {
    float: left;
    width: 390px;
    /*background-color: #EEE;*/
}

.layui-right {
    float: right;
    width: 390px;
    /*background-color: #ffd800;*/
}

.layui-center {
    margin: 0 390px;
    position: relative;
}

.layui-middle {
    position: absolute;
    text-align: center;
    top: 230px;
    margin-top: -60px;
}

.left_table_1 {
    margin-left: 0 !important;
    margin-top: 10px;
}


.layui-container {
    width: auto;
}

.ztree-container {
    left: 0;
    /* right: 0; */
    top: 40px;
    height: 300px;
    position: absolute;
    background-color: #EEE;
    z-index: 888;
    overflow: auto;
    width: 300px;
    display:none;
}