@import url('./common.css');
html,body{
    height:100%;
    width:100%;
    overflow:hidden;
}
.smartflow_tab {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    top:0;
}

.smartflow_tab_header_items {
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    width: 100%;
    color: #829098;
    font-size: 16px;
}

.smartflow_tab_header_item {
    padding: 0px 20px;
    cursor: pointer;

}

.smartflow_tab_header_item + li {
    border-left: solid 1px #deebf3;
}


.smartflow_tab_select {
    background-color: #2194d6;
    color: #FFF;
}

.smartflow_tab_content {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-container {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: #f8f8f8;*/
    line-height: 60px;
    border-top: 1px #f1f1f1 solid;
}


.button-group{
   margin-right:20px;
}

.flow-node {
    width: 250px;
    background-color: #f8f8f8;
    color: #6d7173;
    text-align:center;
    height:100px;
}

.flow-message {
    vertical-align: top;
}

.audit_info {
    border-top: #eee 1px solid;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding-left: 15px;
    line-height: 40px;
}

.audit_info span, .audit_info span {
    width:33.3333333%;
    display:inline-block;
    text-align:center;
}
.audit_info span:first-child{
    text-align:left;
}
.audit_user {
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.layui-form-select dl {max-height: 120px;}
.layui-tab-content {padding: 10px;position: absolute;left: 0;bottom: 50px;top: 50px;right: 0;}
.layui-tab {height: 100%;padding-bottom: 60px;}
.layui-tab-item{height:100%;}